.topnav a{
    background-color:darkgrey;
    color: #000;
    text-decoration: none;
    float:inline-start;
    display: block;
    padding: 20px 20px;
    font-style: italic;
    margin:0px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
.topnav a:hover{
    background-color: #000;
    color:#fff;
    text-decoration: none;
}

