@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}
:root{
    --bg-color: #ffffff;
    --text-color: #121212;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.container{
    width: 50%;
    min-width: 250px;
    max-width: 500px;
    height: 180px;
    text-align: center;
}
.container form{
    background: dimgray;
    border-radius: 25px;
    position: relative;
    margin-bottom: 0%;
    margin-top: 5%;
    padding: 8px 40px 8px 20px;
}
input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 15px;
    padding: 8px 40px 8px 20px;
    border: none;
    box-shadow: 0 5px 8px 3px black;
}

input:focus{
    outline:none;
}
button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
button i{
    color: rgb(93 94 95);
}
button:hover i{
    color: rgb(162 163 163);
}

.slider-wrapper .image-list{
    margin-top: 0%;
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);

}
.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}
.slider-wrapper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}
.slider-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.Welcome{
    background: #757575;
    color: #fff;
    padding: 30px 20px;
}
.redirect{
    text-align: center;
    text-decoration: none;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 10px;
}
.redirect a{
    color: #000;
}
.contact{
    padding: 80px 17%;
    background: var(--text-color);
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-bottom: 3rem;
}
.contact-content li{
    margin-bottom: 15px;
}
.contact-content li a{
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}
.contact-content li a:hover{
    transform: translateX(-10px)
}

.last{
    text-align: center;
    padding: 17px;
    background: #757575;
}
.last p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}


